- if answer.persisted?
  - cache answer do
    .answer{ data: { answer_id: answer.id } }
      %p
        = answer.body
        - answer.attachments.each do |attachment|
          - if attachment.file.file.present?
            = link_to attachment.file.identifier, attachment.file.url
        - if answer.user == current_user
          = link_to "Edit", '', class: 'edit-answer-link'
          = link_to "Delete", answer, method: :delete, data: { confirm: "Are you sure?" }, remote: true
          = form_for answer, format: :json, remote: true,
                     html: { multipart: true, class: "edit-answer invisible" } do |f|
            %p.answer-errors
            = f.label :body, "Edit your answer"
            = f.text_area :body, id: "answer_textarea_#{answer.id}"
            = f.button 'Add file', type: :button, class: 'add_file'
            .files
              = render 'common/file_fields', resource: answer
            = f.submit "Save"
        .answer_comments
          .comments
            = render partial: 'common/comments', collection: answer.comments, as: :comment, cached: true
        - if user_signed_in?
          .comment.new_comment
            = render partial: 'answers/new_comment', locals: { commenter: answer }
