- if comment.persisted?
  .comment
    %p
      = comment.body
    - if comment.user == current_user
      .edit_cmt
        = button_to 'Edit', {}, class: 'edit_comment_button'
        = form_for comment, remote: true, html: { style: 'display:none;' } do |f|
          .question-edit-comment-errors
          = f.label :body, 'Edit your comment', for: 'question_comment_body'
          = f.text_field :body, id: 'question_comment_body'
          = f.submit 'Save'
