= form_for question, html: { multipart: true } do |f|
  - %i[title body].each do |field|
    .field
      = f.label field
      = f.text_field field
  = f.button 'Add file', type: :button, class: 'add_file'
  .files
    = render 'common/file_fields', f: f, resource: question


  = f.submit "Ask"
