%h1 Question

= link_to "Back", questions_path
- if current_user == @question.user
  = link_to "Edit", edit_question_path(@question)
  = link_to "Delete", question_path(@question, question: { user_id: current_user }),
            method: :delete, data: { confirm: "Are you sure?" }
.question
  .field
    %p
      %strong Title:
      = @question.title

  .field
    %p
      %strong Body:
      = @question.body

  .field
    %h2 Attachments
    %ul
    - @question.attachments.each do |attachment|
      %li
        = link_to attachment.file.identifier, attachment.file.url

  .question_comments
    = render 'comment_template'
    .comments
      = render partial: 'comments', collection: @question.comments, as: :comment
    - if user_signed_in?
      .comment.new_comment
        = render partial: 'new_comment', locals: { commenter: @question }



%h2 Answers
.answers
  = render 'answers'
  = render 'answer_template'

- if user_signed_in?
  %h2 New Answer
  = form_for [@question, @answer], remote: true, format: :json do |f|
    = f.label :body, "Your answer"
    .answer-new-errors
    = f.text_field :body
    = f.button 'Add file', type: :button, class: 'add_file'
    .files
      = f.fields_for :attachments do |attachment|
        .file
          = attachment.label :file
          = attachment.file_field :file
    = f.submit "Answer"
