- resource.attachments.each do |attachment|
  .file
    - if attachment.file.file.present?
      = link_to attachment.file.identifier, attachment.file.url
      = hidden_field_tag "#{resource.model_name.to_s.downcase}[attachments_attributes][#{attachment.id}][id]", attachment.id
      %label
        = check_box_tag "#{resource.model_name.to_s.downcase}[attachments_attributes][#{attachment.id}][_destroy]"
        Remove file
.file
  - name = "#{resource.model_name.to_s.downcase}[attachments_attributes][0][file]"
  = label_tag "#{name}_#{resource.id}", 'File'
  = file_field_tag name, id: "#{name}_#{resource.id}"
