= button_to 'Add comment', {}, class: 'add_comment'

= form_for [commenter, @comment], remote: true,
    html: { class: 'form_comment', id: 'new_comment_question', style: 'display:none;' } do |f|
  .question-comment-errors
  = f.label :body, "Your comment"
  = f.text_field :body, id: 'question_comment_body'
  = f.submit 'Comment'
