!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StudybookQna
    = csrf_meta_tags
    = csp_meta_tag
    %script
      = include_gon init: true, :need_tag => false
    -# = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = action_cable_meta_tag
  %body
    = render "common/header"
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
